* {
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
    -webkit-transition: all 150ms ease-in-out;
    -moz-transition: all 150ms ease-in-out;
    -ms-transition: all 150ms ease-in-out;
    -o-transition: all 150ms ease-in-out;
    transition: all 150ms ease-in-out;
    color: #737373;
}
a:hover {
    color: red;
}
nav {
    margin: auto;
    text-align: center;
    background: #D9D9D9;
    padding: 5px;
    border-bottom: 1px solid black;
}
nav ul li {
    list-style: none;
    display: inline;
    margin: 10px;
    padding: 5px;
}
nav a {
    padding: 5px;
    color: black;
}
nav a:hover, .currentPage {
    background: #ACACAC;
    color: white;
}

nav ul li:first-child {
    margin-right: 90px;
}
input {
    width: 100px;
}
form {
    margin-bottom: 10px;
}
.actions {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}
.actions li {
    list-style: none;
    display: inline;
    margin: 10px;
}
#wrapper {
    width: 500px;
    margin: auto;
    height: 100%;
    -webkit-box-shadow: 1px 1px 10px 2px #000000;
    box-shadow: 1px 1px 10px 2px #000000;
}
#studentAddForm,
#studentUpdateForm,
#groupAddForm, #groupUpdateForm, #groupInfo,
#teacherAddForm, #teacherUpdateForm, #teacherInfo,
#teacherId {
    display: none;
}
#studentAddForm fieldset,
#studentUpdateForm fieldset,
#teacherAddForm fieldset,
#teacherUpdateForm fieldset,
#groupAddForm fieldset,
#groupUpdateForm fieldset {
    padding: 5px;
}
td,th {
    border-bottom: 1px solid black;
    border-right: 1px solid black;
    padding: 3px !important;
}
tr {
    -webkit-transition: background 300ms ease-in-out;
    -moz-transition: background 300ms ease-in-out;
    -ms-transition: background 300ms ease-in-out;
    -o-transition: background 300ms ease-in-out;
    transition: background 300ms ease-in-out;
}
tr:last-child td {
    border-bottom: 0;
}
td:last-child {
    border-right: 0;
}
tr:hover {
    background: #E7E7E7
}
.submit, #studentSearchForm .id,
#studentSearchForm .group {
    width: 45px;
}
form .birth {
    width: 150px;
}

form {
    margin: 5px;
}
#status {
    text-align: left;
    padding: 15px;
}
#groupInfo, #teacherInfo {
    background: white;
    padding: 10px;
    position: fixed;
    top: 150px;
    right: 50px;
    left: 50px;
    width: 300px;
    margin: auto;
    border: 1px solid black;
}
#closeGroupInfo, #closeTeacherInfo {
    float: right;
}
footer {
    padding: 10px;
    opacity: 0.3;
}
input[disabled] {
    background: #AD2B2B;
    color: white;
    border-color: #AD4E4E;
}
#status {
    height: 10px;
}
.outputTable {
    width: 100% !important;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}
.operations {
    font-size: 11pt;
}
th:last-child {
    border-right: 0;
}
fieldset {
    margin-top: 10px;
}
legend {
    padding: 2px;
    border: 1px solid black;
    margin-left: 5px;
}